.wrapper {
	min-height: 100vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	font-size: 16px;
	color: #1e212c;
}

.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

a {
	font-weight: 700;
}

// =================================================

.header {
	background: url(../img/header/background.png) no-repeat center;
	background-size: cover;
	height: 100%;
}
.header__top {
	padding: 40px 0;
}
.header__inner {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.nav__item {
	display: flex;
	.nav__item__list {
		margin: 0 30px;
		color: #424551;
		font-weight: 700;
		transition: 0.5s;
	}
	.nav__item__list:hover {
		text-shadow: 0 0 10px #f95712, 0 0 10px #f95712;
	}
}
.header__buttons {
	display: flex;
}
.consult {
	margin: 0 30px;
	display: inline-block;
	padding: 18px 45px;
	background: #f95712;
	border-radius: 4px;
	color: #fff;
	font-weight: 700;
	transition: 0.5s;
}
.consult:hover {
	box-shadow: 0 0 10px #f95712;
	transform: scale(1.05);
}
.users__button {
	display: flex;
	align-items: center;

	.icons {
		color: #424551;
		transition: 0.5s;
	}
	.icons:hover {
		text-shadow: 0 0 10px #f95712, 0 0 10px #f95712;
	}
	.icon__first {
		// background: url(../img/header/Person.svg) no-repeat;
		// margin-left: 20px;
	}
	span {
		margin: 0 8px;
		font-weight: 700;
	}
}

//====== Header body=============

.header__body {
	margin: 30px 0;
	.body__inner {
		display: flex;
		align-items: center;
	}
	.player__btn {
		display: flex;
		align-items: center;
	}

	p {
		margin: 0 15px;
		font-weight: 700;
		color: #1e212c;
	}

	.title {
		color: #1e212c;
		font-style: normal;
		font-weight: 900;
		font-size: 64px;
		line-height: 130%;
		margin: 50px 0;
	}
	.buttons {
		display: inline-flex;
	}
	.btn__left {
		color: #fa5417;
		padding: 16px 28px;
		border: 1px solid #f95712;
		border-radius: 4px;
	}
	.btn__right {
		margin: 0 30px;
		display: inline-block;
		padding: 16px 38px;
		background: #f95712;
		border-radius: 4px;
		color: #fff;
		font-weight: 700;
	}

	.picture {
		width: 650px;
	}
}

.header__bottom {
	margin: 60px 0;
	.items {
		display: flex;
		justify-content: space-between;
		align-items: center;

		li {
			display: flex;
			align-items: center;
			font-weight: 500;
			color: #1e212c;
		}

		span {
			position: relative;
			font-weight: 900;
			font-size: 46px;
			line-height: 130%;
			color: #1e212c;
			margin-right: 10px;
		}

		.dot {
			background: #ff3f3a;
			width: 8px;
			height: 8px;
			border-radius: 50%;
		}
	}
}

// ! block 2
.block__two {
	margin: 80px 0;
	.first__part {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 100px;
	}

	.left {
		width: 600px;

		.about {
			font-weight: 700;
			text-transform: uppercase;
			margin-bottom: 8px;
		}
		.name {
			font-weight: 900;
			font-size: 40px;
			line-height: 130%;
			// margin-bottom: 48px;
		}

		.firstText {
			font-weight: 700;
			font-size: 20px;
			line-height: 150%;
			margin: 28px 0;
		}

		.secondText {
			font-weight: 400;
			font-size: 16px;
			line-height: 160%;
			margin-bottom: 60px;
		}

		.buttons {
			display: inline-flex;
		}
		.btn__left {
			color: #fa5417;
			padding: 16px 28px;
			border: 1px solid #f95712;
			border-radius: 4px;
		}
		.btn__right {
			margin: 0 30px;
			display: inline-block;
			padding: 16px 38px;
			background: #f95712;
			border-radius: 4px;
			color: #fff;
			font-weight: 700;
		}
		.right {
			img {
				width: 333px;
				margin: 0 70px;
			}
		}
	}

	.second__part {
		display: flex;
		// justify-content: space-between;
		align-items: center;
	}
	.left {
		margin-right: 100px;
		img {
			width: 100%;
			height: 100%;
		}
	}
	.right {
	}
	p {
		display: flex;
		align-items: center;
		font-weight: 700;
		font-size: 18px;
		line-height: 150%;
		span {
			margin-right: 12px;
			font-weight: 900;
			font-size: 48px;
			line-height: 130%;
			letter-spacing: 1px;
			color: #ff3f3a;
		}
	}
}

// ! section 2
.block__two {
	margin: 80px 0;

	.top {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.title {
		font-weight: 700;
		font-size: 16px;
		line-height: 150%;
		letter-spacing: 1px;
		text-transform: uppercase;

		margin-bottom: 8px;
	}

	h3 {
		font-weight: 900;
		font-size: 46px;
		line-height: 130%;
		margin-bottom: 40px;
	}

	.buttons {
		margin: 40px 0;
		display: flex;
	}

	.btn {
		margin-right: 40px;
		color: #9a9ca5;
		border: 1px solid #9a9ca5;
		border-radius: 4px;
		padding: 8px;
		font-weight: 700;
		transition: 0.5s;

		&:hover {
			color: #fff;
			background: #fb511b;
			border: none;
		}
	}

	.cards {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-bottom: 25px;

		.card {
			width: 365px;
			border: 1px solid #e5e8ed;
			border-radius: 5px;
		}
		img {
			width: 100%;
		}

		.lastImg {
			height: 100%;
		}

		.card__content {
			padding: 22px;
		}
		.card__btn {
			display: inline-block;
			font-weight: 700;
			font-size: 16px;
			line-height: 160%;
			color: #ffffff;
			background: #03cea4;

			padding: 5px 8px;
			border-radius: 3px;

			transition: 0.5s;

			&:hover {
				box-shadow: 0 0 5px #03cea4;
				transform: scale(1.1);
			}
		}

		.manage {
			background: #5a87fc;
			transition: 0.5s;

			&:hover {
				box-shadow: 0 0 5px #5a87fc;
				transform: scale(1.1);
			}
		}

		.hr {
			background: #f89828;
			transition: 0.5s;

			&:hover {
				box-shadow: 0 0 5px #f89828;
				transform: scale(1.1);
			}
		}

		.design {
			background: #f52f6e;
			transition: 0.5s;

			&:hover {
				box-shadow: 0 0 5px #f52f6e;
				transform: scale(1.1);
			}
		}

		.develop {
			background: #7772f1;
			transition: 0.5s;

			&:hover {
				box-shadow: 0 0 5px #7772f1;
				transform: scale(1.1);
			}
		}

		.card__text {
			font-weight: 400;
			font-size: 16px;
			line-height: 160%;
			color: #787a80;
			margin: 18px 0;
		}

		.card__link {
			font-weight: 700;
			font-size: 16px;
			line-height: 160%;
			color: #1e212c;

			&::after {
				content: "";
				display: inline-block;
				vertical-align: middle;
				width: 24px;
				height: 24px;
				background: url(../img/section2/arrow.svg) no-repeat;
				margin-left: 11px;
				transform: translateY(25%);
			}

			&:hover {
				color: #ff3f3a;
			}
		}
	}
	.bottom {
		margin-top: 130px;
		display: flex;
		justify-content: space-between;
		// align-items: flex-start;

		.left {
			width: 340px;
		}

		.ser {
			font-weight: 700;
			font-size: 16px;
			line-height: 150%;
			letter-spacing: 1px;
			text-transform: uppercase;
			margin-bottom: 8px;
		}

		.title {
			font-weight: 900;
			font-size: 36px;
			line-height: 130%;
			text-transform: none;
		}

		.text {
			font-weight: 400;
			font-size: 16px;
			line-height: 160%;
			color: #424551;
			margin: 35px 0;
		}

		.images {
			display: flex;

			img {
				margin-right: 15px;
			}
		}

		.right {
			.sertificate {
				width: 705px;
			}
		}
	}
}

// ! section 3
.block__three {
	padding: 150px 0;
	background: #f4f5f6;

	.team {
		display: flex;
		flex-direction: column;
	}

	.title {
		font-weight: 700;
		font-size: 16px;
		line-height: 150%;
		letter-spacing: 1px;
		text-transform: uppercase;
		margin-bottom: 8px;
	}

	h3 {
		font-weight: 900;
		font-size: 46px;
		line-height: 130%;
		margin-bottom: 60px;
	}



	.cards {
		display: flex;
		justify-content: space-between;
	}

	.card {
		width: 250px;

		img {
			background: #ffcf2d;
			padding: 17px 20px 0px 20px;
			border-radius: 4px;
		}

		.name {
			margin-top: 15px;
			text-align: center;
			font-weight: 700;
			font-size: 20px;
			line-height: 150%;
		}

		.prof {
			font-weight: 400;
			font-size: 14px;
			line-height: 160%;
			text-align: center;
			color: #787a80;
		}
	}
}
