.html {
  font-family: Lato, sans-serif;
}

.wrapper {
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}

.container {
  /* max-width: 1230px; 1230+15+15 */
  max-width: 1230px;
  width: 100%;
  margin: 0 auto;
  padding: o 15px;
  
}

.button {
  display: inline-block;
  padding: 0 40px;
  font-weight: 700;
  width: 206px;
  height: 52px;

  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
  border-radius: 4px;
  color: #fff;
  letter-spacing: 0.5px;
  line-height: 52px;
  transition: all .5s;
}

.button:hover {
  transform: scale(1.05);
}

.button--empty {
  text-align: center;
  color: #F95612;
  border: 2px solid #F95612;
  border-radius: 5px;
  padding: 15px 30px;
  transition: .5s;
  cursor: pointer;
}

.button--empty:hover {
  color: #fff;
  background: #F75E05;
  box-shadow: 0px 0px 10px #F95612;
  transform: scale(1.1);
}

.logo {}



/* =================================================================================================== */

/* ! header */
.header {
  font-weight: 700;
  color: #424551;
  background: url(../img/header/background.png) no-repeat;
  height: 100vh;
}

.header__top {
  /* margin-bottom: 130px; */
}

.header__top__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.header__logo {
  margin-right: 60px;
}

.header__nav {
  margin-right: auto;
}

.header__nav-list {
  display: flex;
  justify-content:center;
  align-items: center;
  padding: 0;
}

.header__nav-item {
  margin-right: 80px;
}

.header__nav-item:last-child {
  margin-right: 0;
}

.nav__link {
  white-space: nowrap;
  line-height: 1.6;
  color: #424551;
  /* line-height: 160%; */
  transition: all .3s;
}

.nav__link:hover {
  color: #FF3F3A;
}

.header__btn-box {
  display: flex;
  align-items: center;
}

.header__top-btn {
  margin-right: 36px;
}

.header__user-nav {
  position: relative;
  padding-left: 28px;
}


.header__user-nav::before {
  content: "";
  /* background: url(../img/header/Person.svg) no-repeat; */
  height: 20px;
  width: 20px;
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);


}

.header__user-btn {
  color: #424551;
  white-space: nowrap;
  transition: all .3s;
  cursor: pointer;
}

.header__user-btn:hover {
  color: #FF3F3A;
  transform: scale(1.1);
}

/* ========================================================================================== */

.header__body {}

.header__body--inner {}

.header__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #1E212C;
}

.header__content {
  margin-right: 30px;
}

.header__play {
  display: inline-flex;
  align-items: center;
  margin-bottom: 24px;
}

.header__play svg {
  margin-right: 16px;
  border-radius: 50%;
  transition: .5s;
}

.header__play:hover svg {
  background: #FF3F3A;
  opacity: 0.12;
}

.header__title {
  font-style: normal;
  font-weight: 900;
  font-size: 64px;
  line-height: 130%;
  letter-spacing: 1px;
  max-width: 500px;

  margin-bottom: 60px;
}

.header__content--buttons {
  display: flex;
}

.button--empty {
  margin-right: 24px;
}

.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #1E212C;
}

.header__row>span {
  background: #FF3F3A;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin: 15px;
}


.header__row-item {
  display: flex;
  align-items: center;
}

.header__row-item span {
  font-style: normal;
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  margin-right: 14px;
}